.product-details {
  margin-top: 60px;
}

.product-details-info {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.product-details-info h6 {
  margin-bottom: 20px;
}

.similar-products .card {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.similar-products .card-name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.similar-products .card-price {
  color: #28a745;
  font-weight: bold;
}

.similar-products button {
  border: none;
  border-radius: 25px;
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.similar-products button:hover {
  background-color: #5248d7;
}

.similar-products .card-text {
  color: #555;
}

.similar-products .card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.similar-products .card:hover {
  transform: translateY(-5px);
}
